<!-- Footer -->
<footer class="text-center text-lg-start text-muted">
    <!-- Section: Social media -->
    <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
        <!-- Left -->
        <div class="me-5 d-none d-lg-block">
            <span>Get connected with us on social networks:</span>
        </div>
    </section>
    <!-- Section: Social media -->

    <!-- Section: Links  -->
    <section class="">
        <div class="container text-center text-md-start mt-5">
            <!-- Grid row -->
            <div class="row mt-3">

                <!-- Grid column -->
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                    <!-- Content -->
                    <h6 class="text-uppercase fw-bold mb-4 ml-5">
                        <i class="fas fa-gem me-3"></i>SoftSage
                    </h6>
                    <p class="decor">
                        {{"Thank you for visiting SoftSage. We appreciate your time and interest. If you have any questions or feedback, please don't hesitate to contact us. Have a wonderful day!" | translate}}
                    </p>
                </div>

                <!-- Grid column -->
                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        Useful links
                    </h6>
                    <p>
                        <a href="#home-page" class="text-reset">{{'Home' | translate}}</a>
                    </p>
                    <p>
                        <a href="#about-page" class="text-reset">{{'About' | translate}}</a>
                    </p>
                    <p>
                        <a href="#services" class="text-reset">{{'Services' | translate}}</a>
                    </p>
                    <p>
                        <a href="#contact" class="text-reset">{{'Contact' | translate}}</a>
                    </p>
                </div>
                <!-- Grid column -->
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">{{'Contact' | translate}}</h6>
                    <p><i class="bi bi-house-door-fill"></i> Tiranë, Albania, 
                        Rruga "Dhimitër Shuteriqi".</p>
                   <a href="tel:+35569993133"><i class="bi bi-telephone-plus-fill"></i> +355 69 993 1133</a>
                   <strong> / </strong>
                   <a href="tel:+355694050097"> +355 69 405 0097</a>
                    <p>
                        <i href="" class="bi bi-envelope-at-fill"></i>
                        info@softsage.co
                    </p>
                    
                    <p><i class="bi bi-house-door-fill"></i> 3549 Cedar Run Road, Abilene TX, United States.</p>
                    <a href="tel:+1(202)499-8310"><i class="bi bi-telephone-plus-fill"></i> + 1 (202) 499-8310 </a>
                </div>
                <!-- Grid column -->
            </div>
            <!-- Grid row -->
        </div>
    </section>
    <!-- Section: Links  -->

    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
        © 2023 Copyright:
        <a class="text-reset fw-bold" href="https://softsage.co/">SOFTSAGE.CO</a>
    </div>
    <!-- Copyright -->
</footer>
<!-- Footer -->