<section class="background-container" id="about-page">
  <div data-aos="fade-up">
    <h1 class="about-title text-center py-5">ABOUT US</h1>
    <hr class="divider mb-5" />
  </div>
  <div class="skewed" data-aos="fade-up">
    <div class="text">
      <h2 class="h-s">SOFTSAGE.CO</h2>
      <p>At SoftSage, we are more than just a software development and digital marketing company; we are your partners
        in growth, innovation, and success. Our journey began with a passion for technology and a commitment to helping
        businesses thrive in the digital age...</p>
      <a class="btn a-s" type="button" (click)="open(demoModal)">Read More &rarr;</a>
    </div>
    <div class="image">
      <div>
        <img src="assets/images/open-plan-office-900x500.jpg" alt="">
      </div>
    </div>
  </div>

  <!--Modal-->
  <ng-template #demoModal let-modal>
    <div class="modal-dialog-scrollable">
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">More About Us</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
          (click)="modal.dismiss('Cross click')"></button>
      </div>
      <div class="modal-body">
        <i>

          <p class="mission"><strong>Our Mission</strong>: Empowering businesses with cutting-edge technology solutions and digital
            marketing strategies that drive results. We believe in the transformative power of technology and its
            ability to reshape industries, streamline operations, and engage customers like never before.</p>

          <p><strong>What Sets Us Apart</strong>:</p>
          <ul>
            <li><strong>Expertise:</strong> Our team consists of highly skilled professionals with years of experience
              in software development, digital marketing, and design. We stay ahead of the curve by continuously
              learning and adapting to the latest industry trends.</li>
            <li><strong>Tailored Solutions:</strong> We understand that every business is unique. That's why we take the
              time to listen to your specific needs and goals, crafting solutions that are tailor-made for your success.
            </li>
            <li><strong>Innovation:</strong> Innovation is at the heart of what we do. We love to tackle complex
              challenges and turn them into opportunities for growth. Whether it's developing custom software or
              creating a digital marketing strategy, we embrace innovation every step of the way.</li>
            <li><strong>Results-Driven:</strong> We are driven by results. Our success is measured by the success of our
              clients. We don't just deliver projects; we deliver outcomes that make a real impact on your business.
            </li>
          </ul>

          <p><strong>Our Services</strong>:</p>
          <ul>
            <li><strong>Software Development:</strong> From web and mobile apps to enterprise software, we create
              solutions that are reliable, scalable, and user-friendly.</li>
            <li><strong>Digital Marketing:</strong> Our digital marketing experts help you reach and engage your target
              audience through SEO, social media, content marketing, and more.</li>
            <li><strong>Design:</strong> We believe in the power of design to enhance user experiences. Our design team
              crafts visually appealing and intuitive interfaces.</li>
          </ul>

          <p class="mission"><strong>Let's Grow Together</strong>: Whether you're a startup looking to make your mark or an established
            enterprise seeking a digital transformation, SoftSage is here to support your journey. We are passionate
            about what we do, and we can't wait to partner with you to achieve your goals. Join us on this exciting
            adventure, and together, we'll shape a brighter future for your business.</p>
        </i>
      </div>
    </div>

  </ng-template>
</section>