.projects-title {
    letter-spacing: 10px;
}

hr.divider {
  height: 0.2rem;
  max-width: 3.25rem;
  margin: 1.5rem auto;
  background-color: #25a80d;
  opacity: 1;
}

#gallery .container-fluid,
#gallery .container-sm,
#gallery .container-md,
#gallery .container-lg,
#gallery .container-xl,
#gallery .container-xxl {
  max-width: 1920px;
}

#gallery .container-fluid .gallery-box,
#gallery .container-sm .gallery-box,
#gallery .container-md .gallery-box,
#gallery .container-lg .gallery-box,
#gallery .container-xl .gallery-box,
#gallery .container-xxl .gallery-box {
  position: relative;
  display: block;
}

#gallery .container-fluid .gallery-box .gallery-box-caption,
#gallery .container-sm .gallery-box .gallery-box-caption,
#gallery .container-md .gallery-box .gallery-box-caption,
#gallery .container-lg .gallery-box .gallery-box-caption,
#gallery .container-xl .gallery-box .gallery-box-caption,
#gallery .container-xxl .gallery-box .gallery-box-caption {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  text-align: center;
  opacity: 0;
  color: #fff;
  background: rgba(33, 30, 29, 0.9);
  transition: opacity 0.25s ease;
  text-align: center;
}

#gallery .container-fluid .gallery-box .gallery-box-caption .project-category,
#gallery .container-sm .gallery-box .gallery-box-caption .project-category,
#gallery .container-md .gallery-box .gallery-box-caption .project-category,
#gallery .container-lg .gallery-box .gallery-box-caption .project-category,
#gallery .container-xl .gallery-box .gallery-box-caption .project-category,
#gallery .container-xxl .gallery-box .gallery-box-caption .project-category {
  font-size: 0.85rem;
  font-weight: 600;
  text-transform: uppercase;
}

#gallery .container-fluid .gallery-box .gallery-box-caption .project-name,
#gallery .container-sm .gallery-box .gallery-box-caption .project-name,
#gallery .container-md .gallery-box .gallery-box-caption .project-name,
#gallery .container-lg .gallery-box .gallery-box-caption .project-name,
#gallery .container-xl .gallery-box .gallery-box-caption .project-name,
#gallery .container-xxl .gallery-box .gallery-box-caption .project-name {
  font-size: 1.2rem;
}

#gallery .container-fluid .gallery-box:hover .gallery-box-caption,
#gallery .container-sm .gallery-box:hover .gallery-box-caption,
#gallery .container-md .gallery-box:hover .gallery-box-caption,
#gallery .container-lg .gallery-box:hover .gallery-box-caption,
#gallery .container-xl .gallery-box:hover .gallery-box-caption,
#gallery .container-xxl .gallery-box:hover .gallery-box-caption {
  opacity: 1;
}

.redirect {
  text-decoration: none;
  display: inline-block; /* Add this to prevent the link from moving */
  transition: transform 0.3s ease; /* Add a smooth transition */
}

.redirect:hover {
  transform: scale(1.1); /* Increase the size by 10% */
}

/* Slideshow Modal Styles */
.slideshow-modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0); /* Initially transparent */
    z-index: 9999;
    overflow: hidden;
    opacity: 0; /* Initially hidden */
    animation: fadeIn 0.3s ease forwards; /* Add animation for opacity */
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
      background-color: rgba(0, 0, 0, 0);
    }
    100% {
      opacity: 1;
      background-color: rgba(0, 0, 0, 0.7);
    }
  }
  
  
  .slideshow-image {
    max-height: 80%;
    max-width: 100%;
  }
  
  .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
    color: white;
  }
  
  /* Arrows */
  .prev-arrow,
  .next-arrow {
    font-size: 40px;
    color: white;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
  }
  
  .prev-arrow {
    left: 10px;
    background-color: transparent;
  }
  
  .next-arrow {
    right: 10px;
    background-color: transparent;
  }

  .close-btn {
    font-size: 40px;
  }
