<section id="contact" class="mt-5">
  <h1 class="contact-title text-center" data-aos="fade-up">CONTACT US</h1>
  <hr class="divider" data-aos="fade-up"/>

  <div class="wrapper" data-aos="fade-up">
    <div class="inner">
      <form id="contactForm" action="https://formspree.io/f/xzbqgjpl" method="POST">
        <p>Contact us today to transform your
          ideas into cutting-edge digital solutions that will drive your business forward.</p>
        <label class="form-group">
          <input type="text" class="form-control" required>
          <span>Your Name</span>
          <span class="border"></span>
        </label>
        <label class="form-group">
          <input type="text" class="form-control" required>
          <span for="">Your Mail</span>
          <span class="border"></span>
        </label>
        <label class="form-group">
          <textarea name="" id="" class="form-control" required></textarea>
          <span for="">Your Message</span>
          <span class="border"></span>
        </label>
        <button>Submit
          <i class="zmdi zmdi-arrow-right"></i>
        </button>
      </form>
    </div>
  </div>
  <!-- <div class="card-body p-0">
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d187.29543478422215!2d19.805369830457916!3d41.31480317092671!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1350305611d00471%3A0xeec9df8b6054b9f9!2sWaffle%20House!5e0!3m2!1sen!2s!4v1689890748793!5m2!1sen!2s"
              class="w-100" height="400" allowfullscreen="" loading="lazy"></iframe>
          </div> -->
</section>