<div id="gallery">
    <div data-aos="fade-up">
        <h1 class="text-center mt-0 text-white projects-title" >PROJECTS</h1>
        <hr class="divider mb-5" />
    </div>
    <div class="container-fluid p-0">
        <div class="row g-0">
            <div class="col-lg-4 col-sm-6" *ngFor="let image of images; let i = index">
                <a class="gallery-box" href="javascript:void(0);" (click)="openSlideshow(i)" data-aos="fade-up">
                    <img class="img-fluid" [src]="image" alt="..." />
                    <div class="gallery-box-caption">
                        <div class="project-category text-white-50">Category</div>
                        <div class="project-name">Project Name</div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>

<!-- Slideshow Modal -->
<div *ngIf="isSlideshowOpen" class="slideshow-modal">
    <span class="close-btn" (click)="closeSlideshow()">&times;</span>
    <img id="slideshow-image" class="slideshow-image" [src]="images[currentImageIndex]" alt="Slideshow Image" />
    <i class="bi bi-caret-left-fill prev-arrow" (click)="showPrevImage()"></i>
    <i class="bi bi-caret-right-fill next-arrow" (click)="showNextImage()"></i>
</div>