<section class="page-section" id="services">
    <div class="container px-4 px-lg-5">
        <div data-aos="fade-up">
            <h1 class="text-center mt-0 text-white services-title">OUR SERVICES</h1>
            <hr class="divider" data-aos="fade-up"/>
        </div>
        <div class="row gx-4 gx-lg-5">
            <div class="col-lg-3 col-md-6" data-aos="fade-up">
                <div class="card mt-5 custom-card">
                    <div class="card-body text-center">
                        <div class="mb-2">
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="36" fill="currentColor"
                                class="bi bi-code-slash fs-1 text-primary" viewBox="0 0 16 16">
                                <path
                                    d="M10.478 1.647a.5.5 0 1 0-.956-.294l-4 13a.5.5 0 0 0 .956.294l4-13zM4.854 4.146a.5.5 0 0 1 0 .708L1.707 8l3.147 3.146a.5.5 0 0 1-.708.708l-3.5-3.5a.5.5 0 0 1 0-.708l3.5-3.5a.5.5 0 0 1 .708 0zm6.292 0a.5.5 0 0 0 0 .708L14.293 8l-3.147 3.146a.5.5 0 0 0 .708.708l3.5-3.5a.5.5 0 0 0 0-.708l-3.5-3.5a.5.5 0 0 0-.708 0z" />
                            </svg>
                        </div>
                        <h3 class="h4 mb-2 text-white">Web Design</h3>
                        <p class="text-muted mb-0">Crafting digital masterpieces that captivate and convert.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center" data-aos="fade-up">
                <div class="card mt-5 custom-card">
                    <div class="card-body text-center">
                        <div class="mb-2">
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="36" fill="currentColor"
                                class="bi bi-pen-fill fs-1 text-primary" viewBox="0 0 16 16">
                                <path
                                    d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001z" />
                            </svg>
                        </div>
                        <h3 class="h4 mb-2 text-white">Business Plan</h3>
                        <p class="text-muted mb-0">
                            Mapping the future of your venture.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center" data-aos="fade-up">
                <div class="card mt-5 custom-card">
                    <div class="card-body text-center">
                        <div class="mb-2">
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="36" fill="currentColor"
                                class="bi bi-camera-reels-fill fs-1 text-primary" viewBox="0 0 16 16">
                                <path d="M6 3a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
                                <path d="M9 6a3 3 0 1 1 0-6 3 3 0 0 1 0 6z" />
                                <path
                                    d="M9 6h.5a2 2 0 0 1 1.983 1.738l3.11-1.382A1 1 0 0 1 16 7.269v7.462a1 1 0 0 1-1.406.913l-3.111-1.382A2 2 0 0 1 9.5 16H2a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h7z" />
                            </svg>
                        </div>
                        <h3 class="h4 mb-2 text-white">Photo/Video Editing</h3>
                        <p class="text-muted mb-0">
                            Turning raw moments into visual magic. Every frame, a story.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center" data-aos="fade-up">
                <div class="card mt-5 custom-card">
                    <div class="card-body text-center">
                        <div class="mb-2">
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="36" fill="currentColor"
                                class="bi bi-collection-play-fill fs-1 text-primary" viewBox="0 0 16 16">
                                <path
                                    d="M2.5 3.5a.5.5 0 0 1 0-1h11a.5.5 0 0 1 0 1h-11zm2-2a.5.5 0 0 1 0-1h7a.5.5 0 0 1 0 1h-7zM0 13a1.5 1.5 0 0 0 1.5 1.5h13A1.5 1.5 0 0 0 16 13V6a1.5 1.5 0 0 0-1.5-1.5h-13A1.5 1.5 0 0 0 0 6v7zm6.258-6.437a.5.5 0 0 1 .507.013l4 2.5a.5.5 0 0 1 0 .848l-4 2.5A.5.5 0 0 1 6 12V7a.5.5 0 0 1 .258-.437z" />
                            </svg>
                        </div>
                        <h3 class="h4 mb-2 text-white">Media Buying</h3>
                        <p class="text-muted mb-0">
                            Positioning your brand in the spotlight.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center" data-aos="fade-up">
                <div class="card mt-5 custom-card">
                    <div class="card-body text-center">
                        <div class="mb-2">
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="36" fill="currentColor"
                                class="bi bi-newspaper fs-1 text-primary" viewBox="0 0 16 16">
                                <path
                                    d="M0 2.5A1.5 1.5 0 0 1 1.5 1h11A1.5 1.5 0 0 1 14 2.5v10.528c0 .3-.05.654-.238.972h.738a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 1 1 0v9a1.5 1.5 0 0 1-1.5 1.5H1.497A1.497 1.497 0 0 1 0 13.5v-11zM12 14c.37 0 .654-.211.853-.441.092-.106.147-.279.147-.531V2.5a.5.5 0 0 0-.5-.5h-11a.5.5 0 0 0-.5.5v11c0 .278.223.5.497.5H12z" />
                                <path
                                    d="M2 3h10v2H2V3zm0 3h4v3H2V6zm0 4h4v1H2v-1zm0 2h4v1H2v-1zm5-6h2v1H7V6zm3 0h2v1h-2V6zM7 8h2v1H7V8zm3 0h2v1h-2V8zm-3 2h2v1H7v-1zm3 0h2v1h-2v-1zm-3 2h2v1H7v-1zm3 0h2v1h-2v-1z" />
                            </svg>
                        </div>
                        <h3 class="h4 mb-2 text-white">Digital Marketing</h3>
                        <p class="text-muted mb-0">
                            Elevate your online presence with SoftSage. Where strategy meets engagement
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center" data-aos="fade-up">
                <div class="card mt-5 custom-card">
                    <div class="card-body text-center">
                        <div class="mb-2">
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="36" fill="currentColor"
                                class="bi bi-google fs-1 text-primary" viewBox="0 0 16 16">
                                <path
                                    d="M15.545 6.558a9.42 9.42 0 0 1 .139 1.626c0 2.434-.87 4.492-2.384 5.885h.002C11.978 15.292 10.158 16 8 16A8 8 0 1 1 8 0a7.689 7.689 0 0 1 5.352 2.082l-2.284 2.284A4.347 4.347 0 0 0 8 3.166c-2.087 0-3.86 1.408-4.492 3.304a4.792 4.792 0 0 0 0 3.063h.003c.635 1.893 2.405 3.301 4.492 3.301 1.078 0 2.004-.276 2.722-.764h-.003a3.702 3.702 0 0 0 1.599-2.431H8v-3.08h7.545z" />
                            </svg>
                        </div>
                        <h3 class="h4 mb-2 text-white">Google Ads</h3>
                        <p class="text-muted mb-0">
                            Amplifying reach, one click at a time.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center" data-aos="fade-up">
                <div class="card mt-5 custom-card">
                    <div class="card-body text-center">
                        <div class="mb-2">
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="36" fill="currentColor"
                                class="bi bi-browser-chrome text-primary" viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                    d="M16 8a8.001 8.001 0 0 1-7.022 7.94l1.902-7.098a2.995 2.995 0 0 0 .05-1.492A2.977 2.977 0 0 0 10.237 6h5.511A8 8 0 0 1 16 8ZM0 8a8 8 0 0 0 7.927 8l1.426-5.321a2.978 2.978 0 0 1-.723.255 2.979 2.979 0 0 1-1.743-.147 2.986 2.986 0 0 1-1.043-.7L.633 4.876A7.975 7.975 0 0 0 0 8Zm5.004-.167L1.108 3.936A8.003 8.003 0 0 1 15.418 5H8.066a2.979 2.979 0 0 0-1.252.243 2.987 2.987 0 0 0-1.81 2.59ZM8 10a2 2 0 1 0 0-4 2 2 0 0 0 0 4Z" />
                            </svg>
                        </div>
                        <h3 class="h4 mb-2 text-white">SEO</h3>
                        <p class="text-muted mb-0">
                            Boosting visibility, one search at a time.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center" data-aos="fade-up">
                <div class="card mt-5 custom-card">
                    <div class="card-body text-center">
                        <div class="mb-2">
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="36" fill="currentColor"
                                class="bi bi-award-fill fs-1 text-primary" viewBox="0 0 16 16">
                                <path
                                    d="m8 0 1.669.864 1.858.282.842 1.68 1.337 1.32L13.4 6l.306 1.854-1.337 1.32-.842 1.68-1.858.282L8 12l-1.669-.864-1.858-.282-.842-1.68-1.337-1.32L2.6 6l-.306-1.854 1.337-1.32.842-1.68L6.331.864 8 0z" />
                                <path d="M4 11.794V16l4-1 4 1v-4.206l-2.018.306L8 13.126 6.018 12.1 4 11.794z" />
                            </svg>
                        </div>
                        <h3 class="h4 mb-2 text-white">PR</h3>
                        <p class="text-muted mb-0">
                            Shaping perceptions, building legacies.
                            
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>