/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: "Rajdhani";
    src: local("Rajdhani"), url('/assets/fonts/Rajdhani-Regular.ttf');
}

@font-face {
    font-family: "Rajdhani";
    src: local("Rajdhani"), url('/assets/fonts/Rajdhani-Medium.ttf');
}

@font-face {
    font-family: "Rajdhani";
    src: local("Rajdhani"), url('/assets/fonts/Rajdhani-Bold.ttf');
}

body {
    background-color: #1A1A1E;
}