/* Reset some default styles */
body,
h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

/* Use classes to target specific elements instead of tag selectors */
.section-about p {
  color: #000;
}

.items {
  margin-right: 110px !important;
}

/* Simplify and optimize the navbar styles */
.navbar {
  background-color: transparent !important;
  transition: background-color 0.5s ease-in-out;
}

.scroll-navbar {
  background-color: #1A1A1E !important;
}

.scroll-navbar-mobile {
  background-color: #1A1A1E !important;
  transition: background-color 0.3s ease-in-out;
}

.navbar-toggler {
  background-color: transparent;
}

.icon {
  color: #fff !important;
  transition: opacity 0.5s ease-in-out;
}

.icon:hover {
  opacity: 0.8;
}

.first {
  opacity: 0.5;
}

/* Simplify and optimize the navigation links */
.items .nav-link {
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 2px;
  padding: 10px;
  border-radius: 5px;
  text-transform: capitalize;
  transition: opacity 0.5s;
  opacity: 0.8;
  color: #fff;
  font-family: 'Almarai', sans-serif;
}

.items .nav-link:hover {
  opacity: 0.3;
}

.logo {
  width: 145px;
  height: 13px;
  margin-bottom: 16px;
}

.toggler {
  width: 24px;
  height: 24px;
}

/* Simplify and optimize the carousel styles */
.carousel-item {
  height: 100vh;
  background: no-repeat center center / cover;
}

.carousel-caption {
  bottom: 25em;
  text-decoration: none;
  border-radius: 5px;
  font-weight: 600;
  line-height: 95px;
  padding: 15px 25px;
  text-transform: uppercase;
  border: 0;
  transition: all 0.3s;
  background: rgba(255, 255, 255, 0.58);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

.carousel-caption h1 {
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 25px;
}

.carousel-caption p {
  width: 60%;
  margin: auto;
  font-size: 1rem;
  line-height: 1.9;
}
/* Media Queries */
@media (max-width: 668px) {

  .icon,
  .nav-item {
    text-align: center;
  }
}

@media screen and (min-width: 1280px) and (max-width: 1536px) {
  .carousel-caption {
    bottom: 18rem;
  }
}

@media screen and (min-width: 390px) and (max-width: 391px) {
  .carousel-caption {
    bottom: 13rem;
  }

  .items {
    margin-right: auto !important;
  }
}

@media screen and (min-width: 428px) and (max-width: 430px) {
  .carousel-caption {
    bottom: 17rem;
  }

  .carousel-item {
    height: 50vh;
  }

  .logo {
    width: 145px;
    height: 16px;
    margin-top: 5px;
  }

  .items {
    margin-right: auto !important;
  }
}

@media screen and (min-width: 360px) and (max-width: 360px) {
  .carousel-caption {
    bottom: 12rem;
  }

  .carousel-item {
    height: 50vh;
  }

  .items {
    margin-right: auto !important;
  }
}

@media screen and (min-width: 414px) and (max-width: 414px) {
  .carousel-caption {
    bottom: 15rem;
  }
}

@media screen and (min-width: 320px) and (max-width: 375px) {
  .carousel-caption {
    bottom: 12rem;
  }

  .carousel-item {
    height: 50vh;
  }

  .items {
    margin-right: auto !important;
  }
}

@media screen and (min-width: 500px) and (max-width: 500px) {
  .carousel-caption {
    bottom: 15rem;
  }
}

@media screen and (max-width: 390px) {
  .carousel-item {
    height: 50vh;
  } 
}